{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block content %}
    {% include 'boostrap-jq.html' %}
    {% include 'video-background.html' %}
    <div class="wrap-login col-xs-12 col-sm-3">

        <form method="post" action=".">
            {% csrf_token %}
            {{ form|crispy }}

            <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Submit' %}"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
        <hr/>
        <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
        <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
    </div>




{% endblock %}
