{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    {% include 'boostrap-jq.html' %}
    {% include 'video-background.html' %}

    <div class="wrap-reset-registration col-xs-12 col-sm-3">
        <p>Reset your password using your email below.</p>
        <form method="post" action=".">
            {% csrf_token %}
            {{ form|crispy }}
            <input class='btn btn-primary' type="submit" value="{% trans 'Reset' %}"/>
        </form>
        <hr/>
        <p>Need to <a href="{% url 'auth_login' %}">Login</a>?</p>
        <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
    </div>

{% endblock %}


