{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
    {% include 'boostrap-jq.html' %}
    {% include 'video-background.html' %}

    <div class="wrap-registration col-xs-12 col-sm-3">
        <form method="post" action=".">
            {% csrf_token %}
            {{ form|crispy }}
            <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Join' %}"/>
        </form>
        <hr/>
        <p>Need to <a href="{% url 'auth_login' %}">Login</a>?</p>
    </div>

{% endblock %}

