html, body {
    margin: 0;
    height: 100%;

    background-image: url('../images/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y: hidden;
}

/*--dashboard-wrap--*/
.dashboard-wrap {
    margin-top: 5%;
    background-color: #FEFEFB;

    /* border&shadow */
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 8px 8px 8px #A4CCE8;
    -webkit-box-shadow: 8px 8px 8px #A4CCE8;
    box-shadow: 8px 8px 8px #A4CCE8;
}

/*--sidebar-wrap--*/
.sidebar-wrap {
    padding: 0;
}

/*--Sidebar styling - the entire ul list--*/
.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 40px;
    text-align: center;
    font-weight: bold;
}

.sidebar-nav li:first-child {
    border-bottom: 2px solid #E6E6E6;
    margin-bottom: 0.5em;
    color: #337ab7;
    font-size: 1.3em;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #337ab7;
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.sidebar-nav li a:hover {
    background: #0581D8;
    color: white !important;
}

/*--right column wrap--*/
.file-wrap {
    padding-left: 2em;
    padding-right: 2em;

    border-left: 2px solid #E6E6E6;
}

.file-wrap h2 {
    text-align: center;
    text-transform: uppercase;
    color: #337ab7;
}

.file-box {
    margin-top: 1em;
    word-break: break-all;
}

.row-wrap {
    min-height: 600px;
}

.upload-button {
    cursor: pointer;
}

.upload-widget {
    text-align: center;
    margin-top: 2em;
    display: none;
}

.control-label {
    display: none;
}

.asteriskField {
    display: none;
}

.form-upload-button {
    font-size: 1em;
    font-weight: 700;
    background-color: #0581D8;
}

#id_file {
    display: none;

}

#file-label {
    font-size: 1.25em;
    font-weight: 700;
    border: 1px solid;
    background-color: transparent;
    display: inline-block;
    padding: 0.4em;
    text-align: center;
    color: #0581D8;
}