{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
    {% include 'boostrap-jq.html' %}
    <script src="{% static "javascripts/dashboard.js" %}"></script>
    <link href="{% static 'stylesheets/dashboard.css' %}" rel="stylesheet"/>

    <div class="container dashboard-wrap ">
        <div class="row row-wrap">
            <div class="col-xs-12 col-sm-2 sidebar-wrap">
                <ul class="sidebar-nav">
                    <li>
                        Welcome {{ request.user }}
                    </li>
                    <li>
                        <a class="glyphicon glyphicon-user profile-button"> Profile</a>
                    </li>
                    <li>
                        <a class="glyphicon glyphicon-plus upload-button"> Upload</a>
                    </li>
                    <li>
                        <a href="{% url 'auth_logout' %}" class="glyphicon glyphicon-off"> Logout</a>
                    </li>
                    <div class="upload-widget">
                        <hr/>
                        <form class="form-upload fileUpload" method='POST' action='' enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ file_upload_form|crispy }}
                            <label id="file-label" for="id_file" class="col-xs-12">Choose a file</label>
                            <input class='btn btn-primary btn-xs form-upload-button' type='submit' name="add_file"
                                   value='Upload'/>
                        </form>
                    </div>

                    <div class="profile-widget">
                        <hr/>
                        <h4>Change password</h4>
                        <form method='POST' action=''>
                            {% csrf_token %}
                            {{ password_form|crispy }}
                            <input class='btn btn-primary btn-xs' type='submit' name="Update"
                                   value='Change Password'/>
                        </form>
                    </div>
                </ul>
            </div>


            <div class="col-xs-12 col-sm-10 file-wrap">
                <h2>My files</h2>
                <hr/>
                <div class="col-xs-12">
                    {% for item in files %}
                        <div class="col-xs-4 file-box">
                            <div>
                                <a class="glyphicon glyphicon-file"></a>
                                <a href='{{ item.file.url }}'>{{ item.filename }}</a>
                                <a href="{% url 'delete_file' item.id %}" class="glyphicon glyphicon-trash"></a>
                                <a href="{% url 'download_file' item.id %}"
                                   class="glyphicon glyphicon-download-alt"></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

