{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
    {% include 'boostrap-jq.html' %}
    {% include 'video-background.html' %}
    <script src="{% static "javascripts/dashboard.js" %}"></script>


    <div class="home-title">
        <h3>File Storage Site</h3>
        <div class="home-img-wrap">
            <img src="{% static 'images/round-white.png' %}">
            <img src="{% static 'images/round-white.png' %}">
            <img src="{% static 'images/round-white.png' %}">
        </div>
        <h2>CloudZilla</h2>
    </div>

    <div class="home-buttons">
        <div class="btn-group-vertical">
            <a href="{% url 'auth_login' %}">
                <button class="btn-login btn btn-custom">LOGIN</button>
            </a>
            <a href="{% url 'registration_register' %}">
                <button class="btn-join btn btn-custom">JOIN</button>
            </a>
        </div>
    </div>




{% endblock %}